@use "../decoration/user-interface" as *;
@use "../mixin/icon";

body.uri--sponsor {
	p.sponsor {
		display: flex;
		justify-content: center;
		margin: 4rem 0;

		a {
			--theme-ui--bg: color-mix(in srgb, var(--pal-3) 90%, hotpink);
			--theme-ui--fg: color-mix(in srgb, var(--pal-1) 50%, hotpink);
			--theme-ui--border: color-mix(in srgb, var(--pal-4) 50%, hotpink);
			--theme-ui--outline: hotpink;

			@extend %d-user-interface;
			width: 12rem;
			text-decoration: none;
			text-align: center;
			font-size: 1.5rem;

			&::before {
				@include icon.icon("heart");
				margin-right: 0.5rem;
			}
		}
	}
}
